/* global */
html, body {
  font-family: "YakuHanRP", "Kosugi Maru", sans-serif ;
}

/* components */

html {
  background-color: #EEEEEC ;
}

body {
  max-width: 43em ;
  margin: 1em auto ;
  padding: 2em ;
  line-height: 1.727em ;
  background-color: #FFF ;
  border-radius: 2em ;
  box-shadow: 0px 6px 0px 0px #D3D7CF ;
}

body > p:first-child,
body > p:first-child + h1 {
	text-align: center ;
}

@media (min-width: 768px ) {
	body > p:first-child + h1 + p, 
	body > p:first-child + h1 + p + p,
	body > p:first-child + h1 + p + p + p{
		text-align: center ;
	}
}

body > p:first-child + h1 {
	line-height: 1.727em ;
}

body > p:first-child > img {
  width: 256px ;
  height: 256px  ;
}

body > p:first-child + h1 {
  text-align: center ;
}

body ul {
  padding: 0 0 0 1em ;
}

body ul li {
  position: relative ;
  list-style: none ;
}

body ul li:before {
  position: absolute ;
  top: 0.625em ;
  left: -0.75em ;
  display: inline-block ;
  content: "" ;
  width: 0 ;
  height: 0 ;
  border: 3px double #000 ;
  border-radius: 6px ;
}

body blockquote {
  position: relative ;
}

body blockquote:before {
  position: absolute ;
  display: block ;
  content: '' ;
  top: 0 ;
  bottom: 0 ;
  left: -1em ;
  width: 4px ;
  background-color: #AD7FA8 ;
  border-radius: 4px ;
}
