<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/png" href="/assets/avatar.png"> 
    <link rel="stylesheet" href="/assets/normalize.min.css">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kosugi+Maru">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanrp.min.css">
  </head>
  <body>
    {{ .Content }}
  </body>
</html>
